.App {
  text-align: left;
  padding: 0.5rem;
  width: 40rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Bench {
  display: flex;
  margin-block-end: 2rem;
}

.Bench div {
  min-width: 11rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #000;
  background-color: lightcyan;
  border-radius: 0.5rem;
  min-height: 11rem;
}

.Bench button {
  border-radius: 0.5rem;
  background-color: royalblue;
  color: whitesmoke;
  font-size: large;
}

.Bench button:hover {
  background-color: blue;
}

.Bench p {
  font-size: medium;
}

.BenchDec h1{
  margin: 0.5rem;
}

.BenchDec h2{
  margin: 0.5rem;
  padding: 0.5rem;
  border: #000 solid;
  border-radius: 1rem;
  background-color: gray;
}

.BenchDec pre{
  margin: 0rem;
  color: #f6f4f4;
}

.BenchDiv {
  background-color: aqua;
  border: #000 solid;
  border-radius: 0.2rem;
  margin-block-end: 0.2rem;
}
